body {
  margin:0px;
  background-color:rgba(0, 102, 0, 0.149019607843137);
  background-image:none;
  position:relative;
  left:-0px;
  width:1437px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:129px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:1464px;
  height:129px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:1460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:126px;
  width:1100px;
  height:43px;
}
#u947_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:1106px;
  height:49px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:48px;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
  font-size:24px;
}
#u949_img.mouseOver {
}
#u949.mouseOver {
}
#u950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:220px;
  height:43px;
  font-size:24px;
}
#u951_img.mouseOver {
}
#u951.mouseOver {
}
#u952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:220px;
  height:43px;
  font-size:24px;
}
#u953_img.mouseOver {
}
#u953.mouseOver {
}
#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:0px;
  width:220px;
  height:43px;
  font-size:24px;
}
#u955_img.mouseOver {
}
#u955.mouseOver {
}
#u956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:0px;
  width:220px;
  height:43px;
  font-size:24px;
}
#u957_img.mouseOver {
}
#u957.mouseOver {
}
#u958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:21px;
  width:77px;
  height:31px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:21px;
  width:319px;
  height:31px;
}
#u961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:31px;
  font-family:'Bodoni MT';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u961_input {
  font-family:'Calibri';
}
#u962 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:199px;
  width:513px;
  height:517px;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:21px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:21px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:159px;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:21px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:187px;
  height:21px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:183px;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:21px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:158px;
  height:21px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:102px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:163px;
  height:102px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:159px;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:102px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:21px;
  width:187px;
  height:102px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:102px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:21px;
  width:158px;
  height:102px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:163px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:60px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:123px;
  width:187px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:123px;
  width:158px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:154px;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:74px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:183px;
  width:163px;
  height:74px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:159px;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:74px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:183px;
  width:187px;
  height:74px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:74px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:183px;
  width:158px;
  height:74px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:154px;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:257px;
  width:163px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:60px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:257px;
  width:187px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:257px;
  width:158px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:317px;
  width:163px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:60px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:317px;
  width:187px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:317px;
  width:158px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:377px;
  width:163px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:60px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:377px;
  width:187px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:377px;
  width:158px;
  height:60px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:75px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:437px;
  width:163px;
  height:75px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:159px;
  word-wrap:break-word;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:75px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:437px;
  width:187px;
  height:75px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:75px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:437px;
  width:158px;
  height:75px;
  font-family:'Consolas';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:154px;
  word-wrap:break-word;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:273px;
  width:21px;
  height:24px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:26px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:352px;
  width:21px;
  height:26px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:419px;
  width:21px;
  height:24px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:485px;
  width:21px;
  height:24px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:546px;
  width:21px;
  height:22px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:605px;
  width:21px;
  height:25px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:26px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:657px;
  width:21px;
  height:26px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:732px;
  width:37px;
  height:37px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:740px;
  width:30px;
  height:29px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:740px;
  width:30px;
  height:29px;
}
#u1030_img.mouseOver {
}
#u1030.mouseOver {
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:740px;
  width:30px;
  height:29px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:744px;
  width:145px;
  height:25px;
}
#u1034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
}
#u1034_input {
  font-family:'Calibri';
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:744px;
  width:67px;
  height:25px;
}
#u1035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
}
#u1035_input {
  font-family:'Calibri';
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:356px;
  width:300px;
  height:25px;
}
#u1036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1036_input {
  font-family:'Calibri';
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:429px;
  width:300px;
  height:25px;
}
#u1037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1037_input {
  font-family:'Calibri';
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:285px;
  width:300px;
  height:25px;
}
#u1038_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1038_input {
  font-family:'Calibri';
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:497px;
  width:300px;
  height:133px;
}
#u1039_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:133px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1039_input {
  font-family:'Calibri';
}
#u1040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:356px;
  width:79px;
  height:25px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u1042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:285px;
  width:79px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u1044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:497px;
  width:79px;
  height:25px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u1046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:429px;
  width:79px;
  height:25px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u1048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:655px;
  width:86px;
  height:28px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u1050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:657px;
  width:86px;
  height:28px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u1052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:199px;
  width:306px;
  height:55px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:126px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:0px;
  width:146px;
  height:126px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:169px;
  width:65px;
  height:23px;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1056_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1056.mouseOver {
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:169px;
  width:114px;
  height:18px;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1058_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1058.mouseOver {
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
