body {
  margin:0px;
  background-color:rgba(0, 102, 0, 0.149019607843137);
  background-image:none;
  position:relative;
  left:-0px;
  width:1436px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1463px;
  height:126px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1463px;
  height:126px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:1459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:126px;
  width:1100px;
  height:44px;
}
#u457_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:1106px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:49px;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u459_img.mouseOver {
}
#u459.mouseOver {
}
#u460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u461_img.mouseOver {
}
#u461.mouseOver {
}
#u462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u463_img.mouseOver {
}
#u463.mouseOver {
}
#u464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u465_img.mouseOver {
}
#u465.mouseOver {
}
#u466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u467_img.mouseOver {
}
#u467.mouseOver {
}
#u468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:21px;
  width:77px;
  height:31px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:21px;
  width:319px;
  height:31px;
}
#u471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:31px;
  font-family:'Bodoni MT';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u471_input {
  font-family:'Calibri';
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:732px;
  width:37px;
  height:37px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:740px;
  width:30px;
  height:29px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:740px;
  width:30px;
  height:29px;
}
#u476_img.mouseOver {
}
#u476.mouseOver {
}
#u477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:740px;
  width:30px;
  height:29px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:744px;
  width:144px;
  height:25px;
}
#u480_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
}
#u480_input {
  font-family:'Calibri';
}
#u481 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:744px;
  width:67px;
  height:25px;
}
#u481_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
}
#u481_input {
  font-family:'Calibri';
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:126px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:0px;
  width:146px;
  height:126px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:170px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:326px;
  width:274px;
  height:170px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:496px;
  width:212px;
  height:63px;
  font-size:18px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:174px;
  width:65px;
  height:23px;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u488_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u488.mouseOver {
}
#u489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:174px;
  width:95px;
  height:18px;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u490_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u490.mouseOver {
}
#u491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:174px;
  width:75px;
  height:25px;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u492_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u492.mouseOver {
}
#u493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:174px;
  width:160px;
  height:26px;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u494_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u494.mouseOver {
}
#u495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:496px;
  width:212px;
  height:63px;
  font-size:18px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:179px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:317px;
  width:275px;
  height:179px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:179px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:317px;
  width:267px;
  height:179px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:496px;
  width:212px;
  height:63px;
  font-size:18px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
