body {
  margin:0px;
  background-color:rgba(0, 102, 0, 0.149019607843137);
  background-image:none;
  position:relative;
  left:-0px;
  width:1426px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1453px;
  height:129px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:1453px;
  height:129px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:1449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:126px;
  width:1100px;
  height:44px;
}
#u742_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:1106px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:49px;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u744_img.mouseOver {
}
#u744.mouseOver {
}
#u745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u746_img.mouseOver {
}
#u746.mouseOver {
}
#u747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u748_img.mouseOver {
}
#u748.mouseOver {
}
#u749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u750_img.mouseOver {
}
#u750.mouseOver {
}
#u751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u752_img.mouseOver {
}
#u752.mouseOver {
}
#u753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:21px;
  width:77px;
  height:31px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:21px;
  width:319px;
  height:31px;
}
#u756_input {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:31px;
  font-family:'Bodoni MT';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u756_input {
  font-family:'Calibri';
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:1309px;
  width:37px;
  height:37px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:1317px;
  width:30px;
  height:29px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:1317px;
  width:30px;
  height:29px;
}
#u761_img.mouseOver {
}
#u761.mouseOver {
}
#u762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:1317px;
  width:30px;
  height:29px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:1321px;
  width:144px;
  height:25px;
}
#u765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
}
#u765_input {
  font-family:'Calibri';
}
#u766 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:1321px;
  width:67px;
  height:25px;
}
#u766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
}
#u766_input {
  font-family:'Calibri';
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:126px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:0px;
  width:146px;
  height:126px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:334px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:258px;
  width:259px;
  height:334px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:274px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:258px;
  width:248px;
  height:274px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:129px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:319px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:258px;
  width:277px;
  height:319px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:119px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:681px;
  width:174px;
  height:119px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:119px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:681px;
  width:174px;
  height:119px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:115px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:800px;
  width:174px;
  height:115px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:115px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:800px;
  width:174px;
  height:115px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:140px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:702px;
  width:172px;
  height:140px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:140px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:702px;
  width:172px;
  height:140px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:307px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:681px;
  width:232px;
  height:307px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:146px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:170px;
  width:65px;
  height:23px;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u789_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u789.mouseOver {
}
#u790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:170px;
  width:122px;
  height:18px;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u791_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u791.mouseOver {
}
#u792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:170px;
  width:146px;
  height:26px;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u793_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text Regular', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u793.mouseOver {
}
#u794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:592px;
  width:212px;
  height:53px;
  font-size:18px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:208px;
  word-wrap:break-word;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:577px;
  width:212px;
  height:53px;
  font-size:18px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:208px;
  word-wrap:break-word;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:532px;
  width:212px;
  height:53px;
  font-size:18px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:208px;
  word-wrap:break-word;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:917px;
  width:248px;
  height:63px;
  font-size:18px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:988px;
  width:212px;
  height:53px;
  font-size:18px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:208px;
  word-wrap:break-word;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:842px;
  width:212px;
  height:53px;
  font-size:18px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:208px;
  word-wrap:break-word;
}
