body {
  margin:0px;
  background-color:rgba(0, 102, 0, 0.149019607843137);
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:129px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:1467px;
  height:129px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:1463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:126px;
  width:1100px;
  height:44px;
}
#u857_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:1106px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:49px;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u859_img.mouseOver {
}
#u859.mouseOver {
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u861_img.mouseOver {
}
#u861.mouseOver {
}
#u862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u863_img.mouseOver {
}
#u863.mouseOver {
}
#u864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u865_img.mouseOver {
}
#u865.mouseOver {
}
#u866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:0px;
  width:220px;
  height:44px;
  font-size:24px;
}
#u867_img.mouseOver {
}
#u867.mouseOver {
}
#u868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:21px;
  width:77px;
  height:31px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:21px;
  width:319px;
  height:31px;
}
#u871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:31px;
  font-family:'Bodoni MT';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u871_input {
  font-family:'Calibri';
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:732px;
  width:37px;
  height:37px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:740px;
  width:30px;
  height:29px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:740px;
  width:30px;
  height:29px;
}
#u876_img.mouseOver {
}
#u876.mouseOver {
}
#u877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:740px;
  width:30px;
  height:29px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:744px;
  width:141px;
  height:25px;
}
#u880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
}
#u880_input {
  font-family:'Calibri';
}
#u881 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:744px;
  width:67px;
  height:25px;
}
#u881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
}
#u881_input {
  font-family:'Calibri';
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:296px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:242px;
  width:1044px;
  height:296px;
  font-family:'Consolas Bold', 'Consolas Regular', 'Consolas';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:126px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:0px;
  width:146px;
  height:126px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:170px;
  width:65px;
  height:23px;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u886_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u886.mouseOver {
}
#u887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:170px;
  width:87px;
  height:18px;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u888_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Javanese Text Bold', 'Javanese Text';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u888.mouseOver {
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
